@charset "UTF-8";

body {
	  background-color: rgb(233,236,239);
}

.table {
	border: 1px solid;
	border-color: rgb(222,226,230);
}

.reserver {
	margin-left: 30px;
	margin-top: 150px;
	border: solid black 1px;
	height: 390px;
	padding-top: 15px;
	border-radius: 7px;
	background-color: rgb(50,162,228);
}

.itineraire {
		padding-top: 15px;
		height: 950px;
		padding-left: 15px;
		
		background-color: rgb(50,162,228);
	
}

.carte  {
	padding-top: 15px;
}

