<div class="container" style="padding-bottom: 20px;">
  <div class="card">
    <div class="card-header">
      <h4>Recharger votre compte</h4>
    </div>

    <div class="card-body">


      <div class="card-body">
        <div>
          <h6 class="card-title">Ancient Solde :</h6>
          <p class="card-text" >{{clientunique.solde}}</p>

          <div class="form-group">
            <h6 for="solde" class="card-title" >Ajouter :</h6>
            <input type="text" class="form-control" id="solde" [(ngModel)]="ajoutsolde">
          </div>

          <h6 class="card-title">Nouveau Solde :</h6>
          <p class="card-text">{{clientunique.solde -- ajoutsolde}}</p>

          <br>
        </div>


<a type="submit" class="btn btn-primary" (click)="save()" >Valider</a>
<a class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()"  routerLink="/compteClient">Annuler</a>
    </div>
  </div>
</div>
</div>
