<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Fin de trajet</h4>

    </div>

    <div style="text-align: center;">


      <h4>Durée du trajet en cours : {{this.timerDisplay.minutes.digit1}}{{this.timerDisplay.minutes.digit2}}:{{this.timerDisplay.seconds.digit1}}{{this.timerDisplay.seconds.digit2}}</h4>

      <h4>Prix total : {{this.cout}} € </h4>

    </div>

    <div class="row" style="padding-left: 15px;">


      <div style="margin: 0 auto; margin-bottom: 15px;">
        <button class="btn-lg btn-secondary"  [routerLink]="['/finalisation']">Fin du trajet</button>
      </div>
    </div>
  </div>
</div>


