<br>
<div class="container-lg">
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h2 class="textPageAccueil">Gain mensuel en euros (€)</h2>
    </div>
    <div class="card-body">
      <app-mon-compte-fournisseur-graphe-gain></app-mon-compte-fournisseur-graphe-gain>
    </div>
  </div>

  <br>
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h2 class="textPageAccueil">Répartition de vos moyens de transport</h2>
    </div>
    <div class="card-body">
      <app-mon-compte-fournisseur-graphe-repartition-transport></app-mon-compte-fournisseur-graphe-repartition-transport>
    </div>
  </div>
</div>
