<!--<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11317.441106859496!2d-0.5673022087519212!3d44.83459582041811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1589131830931!5m2!1sfr!2sfr"
    width="1375" height="880" frameborder="0" style="border: 0;"
    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>-->
<div class="map-wrapper" >
  <div class="map-border">
    <div id="map">

    </div>
  </div>
</div>

<!--<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Type de transport</th>
    <th>Compagnie</th>
    <th>Tarif/minute</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let moyenDeTransport of list()">
    <td>{{moyenDeTransport.typeDeTransport}}</td>
  </tr>
  </tbody>
</table>-->
