<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Information de la société</h4>
    </div>
    <div class="card-body">
      <h6 class="card-title">Nom :</h6>
      <p class="card-text">{{fournisseurForm.nom}}</p>
      <h6 class="card-title">Numéro de SIRET :</h6>
      <p class="card-text">{{fournisseurForm.numeroSiret}}</p>
      <h6 class="card-title">Numéro de TVA :</h6>
      <p class="card-text">{{fournisseurForm.numeroTva}}</p>
      <h6 class="card-title">IBAN :</h6>
      <p class="card-text">{{fournisseurForm.iban}}</p>
      <h6 class="card-title">BIC :</h6>
      <p class="card-text">{{fournisseurForm.bic}}</p>
      <h6 class="card-title">Adresse :</h6>
      <p class="card-text">{{fournisseurForm.adresse?.rue}} {{fournisseurForm.adresse?.complement}}</p>
      <p class="card-text">{{fournisseurForm.adresse?.codePostal}} {{fournisseurForm.adresse?.ville}}</p>
      <br> <a class="btn btn-primary" (click)="edit(fournisseurForm.id)" [routerLink]="['/compteFournisseur/miseJourInfoPerso']">Mettre à jour les informations </a>
    </div>
  </div>
</div>


