<br/>
<div class="container">
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h4 class="textPageAccueil">Information de la société</h4>
    </div>
    <div class="card-body">
      <h6 class="card-title">Nom :</h6>
      <p class="card-text">{{fournisseurForm.nom}}</p>
      <h6 class="card-title">Numéro de SIRET :</h6>
      <p class="card-text">{{fournisseurForm.numeroSiret}}</p>
      <h6 class="card-title">Numéro de TVA :</h6>
      <p class="card-text">{{fournisseurForm.numeroTva}}</p>
      <h6 class="card-title">IBAN :</h6>
      <p class="card-text">{{fournisseurForm.iban}}</p>
      <h6 class="card-title">BIC :</h6>
      <p class="card-text">{{fournisseurForm.bic}}</p>
      <h6 class="card-title">Adresse :</h6>
      <p class="card-text">{{adresse.rue}} {{adresse.complement}} {{adresse.codePostal}} {{adresse.ville}}</p>
      <br>
      <div class="container" style="text-align: center">
        <a class="btn btn-primary" [routerLink]="['/compteFournisseur/miseJourInfoPerso',adresse.id]">Mettre à jour les informations </a>
      </div>
    </div>
  </div>
</div>

