<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Information de la société</h4>
    </div>
    <div class="card-body">
      <h6 class="card-title">Nom :</h6>
      <p class="card-text">{{fournisseurForm.nom}}</p>
      <h6 class="card-title">Numéro de SIRET :</h6>
      <p class="card-text">{{fournisseurForm.numeroSiret}}</p>
      <h6 class="card-title">Numéro de TVA :</h6>
      <p class="card-text">{{fournisseurForm.numeroTva}}</p>
      <h6 class="card-title">IBAN :</h6>
      <p class="card-text">Données à importer</p>
      <h6 class="card-title">BIC :</h6>
      <p class="card-text">Données à importer</p>
      <h6 class="card-title">Adresse :</h6>
      <p class="card-text">Données à importer : Rue + complément</p>
      <p class="card-text">Données à importer : code postal + ville</p>
      <br> <a href="#" class="btn btn-primary">Mettre à jour les
      informations</a>
    </div>
  </div>
</div>
