<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Confirmation de la réservation</h4>
    </div>
    <div class="card-body">
      <h6>Êtes-vous sûr de vouloir réserver ?</h6>
      <p>Un accompte d'1€ vous sera prélevé afin de réserver le moyen de transport.<br>Ce montant sera déduit de votre trajet.</p>

      <div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>Mode de transport :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Emplacement :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Durée totale :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Prix estimatif :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Temps de marche :</td>
            <td>A renseigner</td>
          </tr>
          </tbody>
        </table>
        <button class="btn-lg btn-secondary"
           style="margin-left: 40%;" [routerLink]="['/finDeTrajet']">Réserver</button>
      </div>


    </div>
  </div>
</div>
