<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Confirmation de la réservation</h4>
    </div>
    <div class="card-body">
      <h6>Êtes-vous sûr de vouloir réserver ?</h6>
      <p>Un accompte d'1€ vous sera prélevé afin de réserver le moyen de transport.<br>Ce montant sera déduit de votre trajet.</p>

      <div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>Mode de transport :</td>
            <td></td>
          </tr>
          <tr>
            <td>Emplacement :</td>
            <td></td>
          </tr>
          <tr>
            <td>Durée totale estimative :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Prix estimatif :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Temps de marche :</td>
            <td>A renseigner</td>
          </tr>
          </tbody>
        </table>
        <div>
        <a type="submit" class="btn btn-primary"  [routerLink]="['/finDeTrajet']">Confirmer</a>
        <a class="btn btn-danger" (click)="cancelClick()" [routerLink]="['/seDeplacer']">Annuler</a>
        </div>
      </div>


    </div>
  </div>
</div>
