<br/>
<div class="container">
  <div class="divBorder card">
    <div class="divBg card-header">
      <h4>Confirmation de la réservation</h4>
    </div>
    <div class="card-body">
      <h6 style="font-size:40px;text-align: center">Êtes-vous sûr de vouloir réserver ?</h6>
      <p>Un accompte d'1€ vous sera prélevé afin de réserver le moyen de transport.<br>Ce montant sera déduit de votre trajet.</p>

      <div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>Mode de transport :</td>
            <td>{{this.moyenDeTransportChoisi.typeDeTransport}}</td>
          </tr>
          <tr>
            <td>Emplacement :</td>
            <td>{{this.adresseAndTempsDeMarcheTransportChoisi.adresse}}</td>
          </tr>
          <tr>
            <td>Durée totale estimative :</td>
            <td>{{this.adresseAndTempsDeMarcheTransportChoisi.dureeEstime}} minutes</td>
          </tr>
          <tr>
            <td>Prix estimatif :</td>
            <td>{{this.adresseAndTempsDeMarcheTransportChoisi.prixEstimatif}} €</td>
          </tr>
          <tr>
            <td>Temps de marche :</td>
            <td>{{this.adresseAndTempsDeMarcheTransportChoisi.tempsDeMarche}} minutes</td>
          </tr>
          </tbody>
        </table>
        <div style="text-align: center">
          <a style="color: white"type="submit" class="btn btn-primary"  (click)="save()">Confirmer</a>
          <a style="color: white; margin-left: 10px"class="btn btn-danger" (click)="cancelClick()" [routerLink]="['/seDeplacer']">Annuler</a>
        </div>
      </div>
    </div>
  </div>
</div>
