<div>
  <ul  class="nav nav-tabs">
    <li class="nav-item">
      <a style="color: black;" class="nav-link active" >Plus rapide</a>
    </li>
    <li class="nav-item">
      <a style="color: black;" class="nav-link" >Moins cher</a>
    </li>
    <li class="nav-item">
      <a style="color: black;" class="nav-link" >Moins de marche</a>
    </li>

  </ul>

  <table class="table">
    <tbody>
    <tr>
      <td>Mode de transport :</td>
      <td>A renseigner</td>
    </tr>
    <tr>
      <td>Emplacement :</td>
      <td>A renseigner</td>
    </tr>
    <tr>
      <td>Durée totale :</td>
      <td>A renseigner</td>
    </tr>
    <tr>
      <td>Prix estimatif :</td>
      <td>A renseigner</td>
    </tr>
    <tr>
      <td>Temps de marche :</td>
      <td>A renseigner</td>
    </tr>
    </tbody>
  </table>
  <br> <button  class="btn-lg btn-secondary"
           style="margin-left: 160px;" [routerLink]="['/reservationItineraire']">Réserver</button>
</div>
