<div>
  <h4>Moyen de transport sélectionné :</h4>

  <table class="table">
    <tbody>
    <tr>
      <td>Mode de transport :</td>
      <td>{{this.moyenDeTransportChoisi.typeDeTransport}}</td>
    </tr>
    <tr>
      <td>Emplacement :</td>
      <td>{{this.adresseAndTempsDeMarcheTransportChoisi.adresse}}</td>
    </tr>
    <tr>
      <td>Prix (€/min) :</td>
      <td>{{this.moyenDeTransportChoisi.prixMinute}}</td>
    </tr>
    <tr>
      <td>Temps de marche :</td>
      <td>{{this.adresseAndTempsDeMarcheTransportChoisi.tempsDeMarche}}</td>
    </tr>
    </tbody>
  </table>
  <br> <a class="btn-lg btn-secondary"
          style="margin-left: 160px;" [routerLink]="['/reservationSurCarte']">Réserver</a>
</div>
