<div>
  <h4>Moyen de transport sélectionné :</h4>

  <table class="table">
    <tbody>
    <tr>
      <td>Mode de transport :</td>
      <td>{{this.moyenTransport.typeDeTransport}}</td>
    </tr>
    <tr>
      <td>Emplacement :</td>
      <td>{{this.adresseMoyenDeTransport.numeroRue}} {{this.adresseMoyenDeTransport.rue}} {{this.adresseMoyenDeTransport.ville}}</td>
    </tr>
    <tr>
      <td>Prix (€/min) :</td>
      <td>{{this.moyenTransport.prixMinute}}</td>
    </tr>
    <tr>
      <td>Temps de marche :</td>
      <td>A renseigner</td>
    </tr>
    </tbody>
  </table>
  <br> <a class="btn-lg btn-secondary"
          style="margin-left: 160px;" [routerLink]="['/reservationItineraire']">Réserver</a>
</div>
