<div>
  <h4>Moyen de transport sélectionné :</h4>

  <table class="table">
    <tbody>
    <tr>
      <td>Mode de transport :</td>
      <td>{{this.moyenTransport.typeDeTransport}}</td>
    </tr>
    <tr>
      <td>Emplacement (funct coord=>adresse:</td>
      <td>lat: {{this.moyenTransport.latitude}} et long : {{this.moyenTransport.longitude}}</td>
    </tr>
    <tr>
      <td>Prix (€/min) :</td>
      <td>{{this.moyenTransport.prixMinute}}</td>
    </tr>
    <tr>
      <td>Temps de marche :</td>
      <td>A renseigner en fonction distance moyen de transport</td>
    </tr>
    </tbody>
  </table>
  <br> <a href="#" class="btn-lg btn-secondary"
          style="margin-left: 160px;">Réserver</a>
</div>
