<div class="container" style="padding-bottom: 20px;">
  <div class="card">
      <div class="card-header">
        <h4>Ajout d'un utilisateur</h4>
      </div>


<div class="card-body">
  <div class="form-group">
    <label for="type">Type d'utilisateur:</label>
    <select class="form-control" id="type" [(ngModel)]="utilisateurForm.type">
      <option value="supplier">Fournisseur</option>
      <option value="customer">Client</option>
      <option value="admin">Administrateur</option>
    </select>
  </div>
  <div class="form-group">
    <label for="identifiant">Identifiant :</label>
    <input type="text" class="form-control" id="identifiant" [(ngModel)]="utilisateurForm.identifiant">
  </div>
  <div class="form-group">
    <label for="motDePasse">Mot de passe:</label>
    <input type="text" class="form-control" id="motDePasse" [(ngModel)]="utilisateurForm.motDePasse">
  </div>
  <div class="form-group">
    <label for="nom">Nom :</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="utilisateurForm.nom">
  </div>
  <div class="form-group">
    <label for="email">Email :</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="utilisateurForm.email">
  </div>
  <div class="form-group">
    <label for="compteValide">Compte valide:</label>
    <input type="text" class="form-control" id="compteValide" [(ngModel)]="utilisateurForm.compteValide">
  </div>


  <a type="submit" class="btn btn-primary" (click)="save()" routerLink="/compteAdministrateur">Ajouter</a>
  <a class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()"  routerLink="/compteAdministrateur">Annuler</a>

</div>


