<div class="container" style="padding-bottom: 20px;">
  <div class="card">
    <div class="card-header">
      <h4>Mise à jour de vos informations personnelles</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="nom">Nom de la société :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="fournisseurForm.nom">
      </div>
      <div class="form-group">
        <label for="numeroSiret">Numéro de SIRET : </label>
        <input type="text" class="form-control" id="numeroSiret" [(ngModel)]="fournisseurForm.numeroSiret">
      </div>
      <div class="form-group">
        <label for="numeroTva">Numéro de TVA : </label>
        <input type="text" class="form-control" id="numeroTva" [(ngModel)]="fournisseurForm.numeroTva">
      </div>
      <div class="form-group">
        <label for="iban">Numéro de TVA : </label>
        <input type="text" class="form-control" id="iban" [(ngModel)]="fournisseurForm.iban">
      </div>
      <div class="form-group">
        <label for="bic">Numéro de TVA : </label>
        <input type="text" class="form-control" id="bic" [(ngModel)]="fournisseurForm.bic">
      </div>
      <div class="form-group">
        <label for="adresse.rue">Rue :</label>
        <input type="text" class="form-control" id="adresse.rue" [(ngModel)]="adresse.rue">
      </div>
      <div class="form-group">
        <label for="adresse.ville">Ville :</label>
        <input type="text" class="form-control" id="adresse.ville" [(ngModel)]="adresse.ville">
      </div>
      <div class="form-group">
        <label for="adresse.codePostal">Code Postal :</label>
        <input type="text" class="form-control" id="adresse.codePostal" [(ngModel)]="adresse.codePostal">
      </div>
      <div class="form-group">
        <label for="adresse.complement">Complement :</label>
        <input type="text" class="form-control" id="adresse.complement" [(ngModel)]="adresse.complement">
      </div>
      <a type="submit" class="btn btn-primary" (click)="save()">Ajouter</a>
      <a class="btn btn-danger" style="margin-left: 10px;"routerLink="/compteFournisseur">Annuler</a>
    </div>
  </div>
</div>
