<div class="bgPageFond container-fluid">
<br>
<div class="container" style="padding-bottom: 20px;">
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h4>Edition d'un moyen de transport</h4>
    </div>

    <div class="card-body">

      <div class="form-group">
        <label for="numeroDeSerie">Identifiant :</label>
        <input type="text" class="form-control" id="numeroDeSerie" [(ngModel)]="moyenDeTransportForm.numeroDeSerie">
      </div>
      <div class="form-group">
        <label for="typeDeTransport">Type de transport :</label>
        <select class="form-control" id="typeDeTransport" [(ngModel)]="moyenDeTransportForm.typeDeTransport">
          <option value="velo">Vélo</option>
          <option value="scooter">Scooter</option>
          <option value="trottinette">Trottinette</option>
        </select>
      </div>
      <div class="form-group">
        <label for="typeMoteur">Type de moteur :</label>
        <select class="form-control" id="typeMoteur" [(ngModel)]="moyenDeTransportForm.typeMoteur">
          <option value="Thermique">Thermique</option>
          <option value="Electrique">Electrique</option>
        </select>
      </div>
      <div class="form-group">
        <label for="prixMinute">Prix par minute (€) : </label>
        <input type="number" class="form-control" id="prixMinute" [(ngModel)]="moyenDeTransportForm.prixMinute">
      </div>
      <div class="form-group">
        <label for="disponible">Disponible :</label>
        <select class="form-control" id="disponible" [(ngModel)]="moyenDeTransportForm.disponible">
          <option value="true">Oui</option>
          <option value="false">Non</option>
        </select>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude : </label>
        <input type="number" class="form-control" id="longitude" [(ngModel)]="moyenDeTransportForm.longitude">
      </div>
      <div class="form-group">
        <label for="latitude">Latitude : </label>
        <input type="number" class="form-control" id="latitude" [(ngModel)]="moyenDeTransportForm.latitude">
      </div>

      <div class="container" style="text-align: center">
        <a *ngIf="typeUser == 'admin'" type="submit" class="btn btn-primary" (click)="save()" routerLink="/compteAdministrateur">Ajouter</a>
        <a *ngIf="typeUser == 'supplier'" type="submit" class="btn btn-primary" (click)="save()" routerLink="/compteFournisseur">Ajouter</a>
        <a *ngIf="typeUser == 'admin'" class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()"  routerLink="/compteAdministrateur">Annuler</a>
        <a *ngIf="typeUser == 'supplier'"class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()"  routerLink="/compteFournisseur">Annuler</a>
      </div>

    </div>
  </div>
</div>
</div>
