<div class="bgPageFond container-fluid">
  <br/>
<div class="container" style="padding-bottom: 20px;">
  <div class="divBorder card">
    <div class="divBg card-header">
    <h2 style="text-align: center ;font-size: 60px">Comment nous joindre</h2>
  </div>

  <div class="card-header" style="margin-top: 20px;margin-left: 15px;margin-right: 15px;">
    <h5 class="card-title"><u>Assistance technique :</u> 01 23 45 67 89</h5>
    <h5 class="card-title"><u>Concernant notre fonctionnement :</u> 00 00 00 00 00 / scootilo@gmail.com</h5>
  </div>

  <br/><br/>


</div>
</div>

  <div class="container">
    <div class="divBorder card">
      <div class="divBg card-header">
        <h2 style="font-size: 60px" >Nos agences :</h2>
      </div>
      <table style="text-align: center" class="table">
        <thead class="thead-light">
        <tr style="font-size: 35px">
          <th>Ville</th>
          <th>Adresse</th>
          <th>Téléphone</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 25px">
          <td><b>Paris</b></td>
          <td>1 Place d'Italie</td>
          <td>06 66 66 66 66</td>
        </tr>
        <tr style="font-size: 25px">
          <td><b>Bordeaux</b></td>
          <td>2 Place Pey Berland</td>
          <td>03 33 33 33 33</td>
        </tr>
        <tr style="font-size: 25px">
          <td><b>Toulouse</b></td>
          <td>3 Place du Capitole</td>
          <td>01 11 11 11 11</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <br/><br/>


</div>


