<div class="container">
  <div class="divBorder card">
    <div class="divBg card-header">
      <h4>Mes informations personnelles</h4>
    </div>

    <div class="card-body">
      <div>
        <h6 class="card-title">Prénom :</h6>
        <p class="card-text">{{administrateurForm.prenom}}</p>
        <h6 class="card-title">Nom :</h6>
        <p class="card-text">{{administrateurForm.nom}}</p>
        <h6 class="card-title">Adresse mail :</h6>
        <p class="card-text">{{administrateurForm.email}}</p>
      </div>

      <br>
      <div class="container" style="text-align: center">
        <a class="btn btn-primary" (click)="edit(administrateurForm.id)" [routerLink]="['/compteAdministrateur/miseJourInfoPerso']">Mettre à jour</a>
      </div>


    </div>
  </div>

</div>
