<div class="row" style="padding-left: 50px;">
  <div>
    <div style="text-align: center;">


      <h6>Recherchez votre itinéraire</h6>
      <h6>OU</h6>
      <h6>Réservez directement sur la carte</h6>

    </div>
    <div class="form-group">
      <label >Lieu de départ :</label>
      <input [(ngModel)]="adrDepart" type="text" class="form-control"
             style="width: 400px;" placeholder="Départ">
    </div>

    <div *ngIf="this.adresses.length!=0">
      <p>Ou choisissez parmi vos adresses : </p>

      <input list="mesAdrs" id="adrDepart" [ngModel]="adrDepartListe" (ngModelChange)="charger($event)" placeholder="Choisir">
      <datalist id="mesAdrs">
        <option *ngFor="let adr of adresses" value={{adr.nomAdresse}} > {{adr.nomAdresse}} </option>
      </datalist>
    </div>


    <br/><br/>

    <div class="form-group">
      <label >Lieu d'arrivée :</label>
      <input [(ngModel)]="adrArrivee" type="text" class="form-control"
             style="width: 400px;"  placeholder="Arrivée">
    </div>

    <div *ngIf="this.adresses.length!=0">
      <p>Ou choisissez parmi vos adresses : </p>

      <input list="mesAdrs2" id="adrArrivee" [ngModel]="adrArriveeListe" (ngModelChange)="charger2($event)" placeholder="Choisir">
      <datalist id="mesAdrs2">
        <option *ngFor="let adr of adresses" value={{adr.nomAdresse}} > {{adr.nomAdresse}} </option>
      </datalist>
    </div>

    <div *ngIf="this.client.preference!=undefined">
      <h6 class="card-title">Préférences :</h6>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" [ngModel]="client.preference.trottinette" (ngModelChange)="charger3($event, 'trottinette')" >Trottinette
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" [ngModel]="client.preference.velo" (ngModelChange)="charger3($event, 'velo')">Vélo
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value=""[ngModel]="client.preference.scooter" (ngModelChange)="charger3($event, 'scooter')">Scooter
        </label>
      </div>
    </div>
    <br> <button  class="btn-lg btn-secondary"
            style="margin-left: 130px;" (click)="isShowItineraire()">Rechercher</button>


  <br>
  <br>

    <div *ngIf="ongletReservationItineraireShow">
      <div>
        <ul  class="nav nav-tabs">
          <li class="nav-item">
            <a style="color: black;" class="nav-link active" >Plus rapide</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" >Moins cher</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link" >Moins de marche</a>
          </li>

        </ul>

        <table class="table">
          <tbody>
          <tr>
            <td>Mode de transport :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Emplacement :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Durée totale :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Prix estimatif :</td>
            <td>A renseigner</td>
          </tr>
          <tr>
            <td>Temps de marche :</td>
            <td>A renseigner</td>
          </tr>
          </tbody>
        </table>
        <br> <button  class="btn-lg btn-secondary"
                      style="margin-left: 160px;" [routerLink]="['/reservationItineraire']">Réserver</button>
      </div>
    </div>

    <div *ngIf="ongletReservationShow">
      <div>
        <h4>Moyen de transport sélectionné :</h4>

        <table class="table">
          <tbody>
          <tr>
            <td>Mode de transport :</td>
            <td>{{this.donneesDuMoyenDeTransportChoisi.moyendeTransportClick.typeDeTransport}}</td>
          </tr>
          <tr>
            <td>Emplacement :</td>
            <td>{{this.donneesDuMoyenDeTransportChoisi.numeroRue}} {{this.donneesDuMoyenDeTransportChoisi.rue}} {{this.donneesDuMoyenDeTransportChoisi.ville}}</td>
          </tr>
          <tr>
            <td>Prix (€/min) :</td>
            <td>{{this.donneesDuMoyenDeTransportChoisi.moyendeTransportClick.prixMinute}}</td>
          </tr>
          <tr>
            <td>Temps de marche :</td>
            <td>{{this.donneesDuMoyenDeTransportChoisi.tempsDeMarche}}</td>
          </tr>
          </tbody>
        </table>
        <br> <a class="btn-lg btn-secondary"
                style="margin-left: 160px;" [routerLink]="['/reservationSurCarte']">Réserver</a>
      </div>
    </div>

</div>


<div >
  <div class="container" >
    <div class="map-wrapper" style="left: 500px">
      <div id="map"> </div>
    </div>
  </div>
</div>
</div>
