<body>

<div class="bgPageFond container-fluid">
  <br>

  <div class="container">
    <div class="divBorder card">
      <div class="divBg card-header">
        <h2 style="font-size: 60px" >Nos partenaires</h2>
      </div>
      <div class="container" >
        <div class="row">
          <div class="card col-lg-4" style="border-style:none; cursor: pointer;" (click)="goToWebSiteGoogle()" >
            <img class="card-img-top" src="assets/google.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Google, partenaire privilégié</h5>
              <h6><b>Participation : </b>50 000€</h6>
              <h6><b>Partenaire : </b>n°1</h6>
              <h6><b>Intérêt : </b>Utilisation énergie verte</h6>
            </div>
          </div>
          <div class="card col-lg-4" style="border-style:none;cursor: pointer; margin-left: 0px;" (click)="goToWebSiteBordeaux()" >
            <img style="margin-top : 30px" class="card-img-top" src="assets/logo_ville_bordeaux.png" alt="Card image cap">
            <div class="card-body">
              <br>
              <h5 class="card-title">La ville de Bordeaux</h5>
              <h6><b>Participation : </b>20 000€</h6>
              <h6><b>Partenaire : </b>n°2</h6>
              <h6><b>Intérêt : </b>Développer les moyens de transport écologique</h6>
            </div>
          </div>
          <div class="card col-lg-4" style="border-style:none;cursor: pointer;margin-left: 0px" (click)="  goToWebSiteHSBC()" >
            <img style="margin-top : 30px" class="card-img-top" src="assets/Logo-HSBC.jpg" alt="Card image cap">
            <div class="card-body">

              <br>
              <h5 class="card-title">HSBC</h5>
              <h6><b>Participation : </b>10 000€</h6>
              <h6><b>Partenaire : </b>n°3</h6>
              <h6><b>Intérêt : </b>Contribution pour l'électrique</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>


