<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Mon solde</h4>
    </div>
    <div class="card-body">
      <h6 class="card-title">Argent disponible :</h6>
      <h4 >{{clientunique.solde}} €</h4>
      <br> <a href="#" class="btn btn-primary" (click)="edit(clientunique.id)" [routerLink]="['/compteCrediter', clientunique.id]">Recharger votre
      compte</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Mes informations personnelles</h4>
    </div>

    <div class="card-body">
      <div>
        <h6 class="card-title">Prénom :</h6>
        <p class="card-text">{{clientunique.prenom}}</p>
        <h6 class="card-title">Nom :</h6>
        <p class="card-text">{{clientunique.nom}}</p>
        <h6 class="card-title">Adresse mail :</h6>
        <p class="card-text">{{clientunique.email}}</p>
        <br>
      </div>
      <div>
        <h6 class="card-title">Préférences :</h6>
        <div class="form-check-inline">
          <label class="form-check-label" > <input type="checkbox"
                                                  class="form-check-input" [(ngModel)]="clientunique.preference.trottinette">Trottinette
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label"> <input type="checkbox"
                                                  class="form-check-input" [(ngModel)]="clientunique.preference.velo">Vélo
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label"> <input type="checkbox"
                                                  class="form-check-input" [(ngModel)]="clientunique.preference.scooter">Scooter
          </label>
        </div>
      </div>
      <br> <a href="#" class="btn btn-primary">Mettre à jour</a>
    </div>
  </div>

</div>

<div class="container" style="padding-bottom: 20px;">
  <div class="card">
    <div class="card-header">
      <h4>Mes adresses</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-light">
        <tr>
          <h6 style="padding-left: 20px;">Adresse n°1 :</h6>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Rue</td>
          <td>{{clientunique.adresse?.rue}}</td>
        </tr>
        <tr>
          <td>Complément</td>
          <td>{{clientunique.adresse?.complement}}</td>
        </tr>
        <tr>
          <td>Code postal</td>
          <td>{{clientunique.adresse?.codePostal}}</td>
        </tr>
        <tr>
          <td>Ville</td>
          <td>{{clientunique.adresse?.ville}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead class="thead-light">
        <tr>
          <h6 style="padding-left: 20px;">Adresse n°2 :</h6>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Rue</td>
          <td>A renseigner</td>
        </tr>
        <tr>
          <td>Complément</td>
          <td>A renseigner</td>
        </tr>
        <tr>
          <td>Code postal</td>
          <td>A renseigner</td>
        </tr>
        <tr>
          <td>Ville</td>
          <td>A renseigner</td>
        </tr>
        </tbody>
      </table>
      <a href="#" class="btn btn-primary">Ajouter ou supprimer une adresse</a>
    </div>
  </div>
</div>



<div class="container" style="padding-bottom: 20px;">
  <div class="card">
    <div class="card-header">
      <h4>Mon historique</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-light">
        <tr>
          <th>Type de transport</th>
          <th>Date</th>
          <th>Durée (min)</th>
          <th>Coût (€)</th>
        </tr>
        </thead>

        <tbody>


          <tr>
            <td *ngFor="let ele of histo[0]">{{ele}}</td>
          </tr>

          <tr>
            <td *ngFor="let ele of histo[1]">{{ele}}</td>
          </tr>

          <tr>
            <td *ngFor="let ele of histo[2]">{{ele}}</td>
          </tr>

          <tr>
            <td *ngFor="let ele of histo[3]">{{ele}}</td>
          </tr>

        </tbody>
      </table>



    </div>
  </div>
</div>
