<div class="container" >
  <div class="divBorder card">
    <div class="divBg card-header">
      <h4>Liste des utilisateurs</h4>
    </div>

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Type d'utilisateur</th>
          <th>Identifiant</th>
          <th>Mot de passe</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Compte validé</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let util of list()">
          <td>{{util.type}}</td>
          <td>{{util.identifiant}}</td>
          <td>{{util.motDePasse}}</td>
          <td>{{util.nom}}</td>
          <td>{{util.email}}</td>
          <td>{{util.compteValide}}</td>
          <td>
            <div style="padding-top: 9px;" class="btn-group btn-group-sm">
              <a class="btn btn-primary" [routerLink]="['/compteAdministrateur/ajoutUtilisateur', util.id]"><i class="fa fa-edit"></i></a> <a
              class="btn btn-danger"><i class="fa fa-trash" (click)="delete(util.id)"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    <div class="container" style="text-align: center">
      <a class="btn btn-primary" routerLink="/compteAdministrateur/ajoutUtilisateur">Ajouter un utilisateur</a>
    </div>
    <br>
    </div>

</div>
