<body>

<div class="bgPageAccueil container-fluid">
  <div>
    <div class="container textPageAccueil" style="font-size: 40px; text-align: center; margin-top: 110px;">
      <p style="font-family: Georgia, Times New Roman, serif ; font-size: 100px;">Bienvenue sur Scootilo </p>
      <p style="font-size: 40px;">Trottinettes, vélos ou bien scooters, c'est à vous de choisir ! </p>
    </div>
  </div>

  <main class="flex-center" style="justify-content: center; display: flex;">
    <div style="cursor: pointer" [routerLink]="['/seDeplacer']">
      <img src="../../../assets/trajet.png">
      <br>
      <p class="textPageAccueil" style="font-size: 45px;"><b>Itinéraire</b></p>
      <p class="textPageAccueil" style="font-size: 25px;"><b>Consultez nos services adaptés à vos besoins</b></p>
    </div>
    <div style="cursor: pointer" [routerLink]="['/plan']">
      <img src="../../../assets/carte.png">
      <br>
      <p class="textPageAccueil" style="font-size: 45px;"><b>Carte</b></p>
      <p class="textPageAccueil" style="font-size: 25px;"><b>Visionnez notre carte du réseau</b></p>
    </div>
    <div style="cursor: pointer" [routerLink]="['/tarifs']">
      <img src="../../../assets/euro.png">
      <br>
      <p class="textPageAccueil" style="font-size: 45px;"><b>Tarifs</b></p>
      <p class="textPageAccueil" style="font-size: 25px;"><b>Venez les consulter !</b></p>
    </div>
  </main>
</div>
</body>
