.miroir-eau {
  background-image: url('../../../assets/miroir_eau.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

main {

  margin: 20px 0;
  padding: 10px;
}

main div {
  background: rgb(50,162,228,0.82);
  color: black;
  padding: 15px;
  width: 300px;
  height: 420px;
  margin: 120px;
  border-radius: 80px;

}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
