<body>

<div class="bg-img container-fluid">
<!--            <p>-->
<!--              SCOOTILO met à votre disposition ses services afin de vous-->
<!--              accompagner dans vos déplacements quotidiens. Trottinettes, vélos-->
<!--              ou bien scooters, c'est à vous de choisir votre transport préféré !-->
<!--            </p>-->


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <table class="container" >
    <thead>
  <th style="width:200px">
    <div style="border-radius:100px; background: rgba(91, 192, 222, 0.7); font-size: 40px;color:white; text-align: center">
      <br>
      <i class="fas fa-map-marker-alt fa-3x"></i>
      <br><br>
      <p> Déplacez vous ! </p>
      <br><br>
    </div>
  </th>
  <th style="width:30px">
  </th>
  <th style="width:200px">
    <div style="border-radius:100px; background: rgba(91, 192, 222, 0.7); font-size: 40px;color:white; text-align: center">
      <br>
      <i class="fas fa-euro-sign fa-3x"></i>
      <br><br>
      <p> Nos tarifs </p>
      <br><br>
    </div>
  </th>
  <th style="width:30px">
  </th>
  <th style="width:200px">
    <div style="border-radius:100px; background: rgba(91, 192, 222, 0.7); font-size: 40px;color:white; text-align: center">
      <br>
      <i class="far fa-id-card fa-3x"></i>
      <br><br>
      <p> Une question ?</p>
      <p> Contactez-nous</p>
      <br>
    </div>
  </th>
    </thead>
  </table>


</div>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</body>
