<body>

<div class="bg-img container-fluid">
<!--  <div class="container">-->
<!--    <div>-->
<!--      <div>-->
        <div style=" text-align: center; margin-top: 10px">
          <img src="../../../assets/LOGO_scootilo.png" width="40%" height="40%" />
        </div>
<!--        <div [ngStyle]="{'background' : 'url(../../../assets/bg.jpg)'}" >-->
<!--          <h1 class="display-4">Bienvenue sur SCOOTILO!</h1>-->
<div style="">
          <div class="container" style="border-radius:100px; background: rgba(41, 43, 44, 0.5); font-size: 40px;color:white; text-align: center">
            <p>
              SCOOTILO met à votre disposition ses services afin de vous
              accompagner dans vos déplacements quotidiens. Trottinettes, vélos
              ou bien scooters, c'est à vous de choisir votre transport préféré !
            </p>
          </div>
</div>
</div>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</body>
