/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";



:root {
  --img-accueil:url('/assets/miroir_eau.jpg');
  --bg-color:rgba(50,162,228,0.5);
  --border-color:rgba(50,162,228,0.5);
  --bg-navbar: rgba(248,249,250,0.5);
  --text-navbar:black;
  --img-fond:url('/assets/testFond.jpg');
  --img-navbar:url("/assets/LOGO_scootilo.png");
}


$borderColor: var(--border-color); //rgba(50,162,228,0.5)
$bgColor: var(--bg-color); //rgba(50,162,228,0.5)
$urlImgPageAccueil : var(--img-accueil);
$urlImgPages : var(--img-pages);
$bgNavBar : var(--bg-navbar);
$textNavBar : var(--text-navbar);
$urlImgFond : var( --img-fond);
$urlImgNavbar : var(--img-navbar);

.imgNavbar{
  content: $urlImgNavbar;
}
.divBorder{
  border-color: $borderColor;
}

.textNavBar, .textNavBar:hover{
  text-decoration:none;
  font-size: 20px;
  color: $textNavBar;
}



.bgNavBar{
  background-color: $bgNavBar;
}

.divBg{
  background-color: $bgColor; //rgba(50,162,228,0.5);//$bgColor;
  text-align: center;
}

.bgPageAccueil{
  background-image: $urlImgPageAccueil;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.bgPageFond{
  background-image: $urlImgFond;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.map-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.map-border{
  border: 5px solid orange;
  height: 90%;
}

#map{
  height: 100%;
}




.btn-primary {
  background-color: rgb(50,162,228);
  color:  white;
  border-color: rgb(50,162,228);
}

.btn-primary:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info {
  background-color: rgb(28,140,208);
  color:  white;
  border-color: rgb(28,140,208);
}
