<body>

<div class="bgPageFond container-fluid">
  <br/>
  <div class="container">
    <div style="border-color: crimson;" class="card">
      <div style="background-color: crimson;" class="card-header">
        <h2 style="text-align: center ;font-size: 60px;background-color: crimson;" >Accès Refusé</h2>
      </div>

      <br/>
      <br/>
      <br/>
      <h2 style="margin-left: 200px">Vous n'avez pas le droit d'accéder à cette page.</h2>
      <br/>
      <br/>
      <br/>

      <button class="btn btn-outline-danger my-2 my-sm-0" [routerLink]="['/accueil']" style="font-size: 20px;font-weight: bold">OK</button>
    </div>
  </div>
</div>

</body>
