<div class="bgPageFond container-fluid">
<br/>
  <div class="container">
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h4 class="textPageAccueil">Mise à jour de vos informations personnelles</h4>
    </div>

    <div class="card-body">

      <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="administrateurForm.prenom">
      </div>
      <div class="form-group">
        <label for="nom">Nom : </label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="administrateurForm.nom">
      </div>
      <div class="form-group">
        <label for="email">Adresse mail : </label>
        <input type="text" class="form-control" id="email" [(ngModel)]="administrateurForm.email">
      </div>

      <div class="container" style="text-align: center">
        <a type="submit" style="color: white" class="btn btn-primary" (click)="save()">Mettre à jour</a>
        <a class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()"  routerLink="/compteAdministrateur">Annuler</a>
      </div>

    </div>
    </div>
  </div>
</div>

