<div class="bgPageFond container-fluid">
  <div class="row" style="padding-top: 100px; margin-left: 35px;">
    <div class="divBorder col-xl-4">
      <div class=" divBg card-header" style="margin-right: -15px;margin-left: -15px;border: solid 1px rgb(50,162,228);">
        <h4>Ajouter une photo</h4>
      </div>
      <div class="card-body"
           style="background-color: rgb(248,249,250);margin-right: -15px;margin-left: -15px; border: solid 1px rgb(50,162,228);border-top: none; border-radius: 5px">
        <h6>Merci de prendre en photo le véhicule une fois votre trajet terminé. <br/>
          Ceci aidera les prochains passagers à le trouver plus facilement et en
          cas de problème constituera une preuve recevable.</h6>
        <br>
        <h5>Importez votre photo :</h5>
        <input #file type="file" accept='image/*' (change)="preview(file.files)"/>
      </div>
      <br>
      <div class="divBorder">
        <div class=" divBg card-header"
             style="margin-right: -15px;margin-left: -15px; border: solid 1px rgb(50,162,228);">
          <h4>Commentaires</h4>
        </div>
        <div class="card-body"
             style="background-color: rgb(248,249,250);margin-right: -15px;margin-left: -15px;border: solid 1px rgb(50,162,228);border-top: none;border-radius: 5px">
          <h5>Votre voyage s'est-il bien déroulé ?</h5>
          <h6>Evaluez votre trajet :</h6>
          <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
          <h6>Donnez votre avis :</h6>
          <div style="text-align: center" style="width: 400px;">
				<textarea id="commentaire" style="margin-left: -15px;margin-right: -15px;" name="comment" maxlength="400"
                  cols="100" rows="4" [(ngModel)]="commentaire">
				</textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6"
         style="margin-top: auto;margin-bottom: auto;display: table-cell;vertical-align: middle; text-align: center;margin-left: 60px;">
      <figure>
        <div *ngIf="imgURL;else photoDeBase" style="">
          <img [src]="imgURL">
        </div>
      </figure>

      <ng-template #photoDeBase>
        <div>
          <img src="assets/appareil_photo.jpg">
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <br>
    <button class="btn-lg btn-primary col align-self-center container" (click)="save()" [routerLink]="['/accueil']"
            style="width: 150px; margin-top: 50px;margin-left: 50px; margin-right: 50px;">Envoyer
    </button>
  </div>

  <div style="padding-top: 150px; text-align: center;">
    <h5>Si vous avez rencontré un soucis durant votre trajet, merci de prendre contact avec notre service SAV.</h5>
  </div>
</div>

