<div class="row" style="padding-left: 2%;">
  <div class="col-xl-4" >

    <div class="card-header" style="margin-top: 10%;">

      <h5>Merci de prendre en photo le véhicule une fois votre trajet terminé. <br/>
        Ceci aidera les prochains passagers à le trouver plus facilement et en
        cas de problème constituera une preuve recevable.</h5>

    </div>

    <br>
    <div style="text-align: center">
      <a href="#" class="btn-lg btn-secondary" >Ajouter une photo</a>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="card-header">
      <h5>Votre voyage s'est-il bien déroulé ? <br/>
        Merci de nous laisser votre avis :</h5>
    </div>
    <div style="text-align: center">
				<textarea id="commentaire" name="comment" maxlength="400" cols="40" rows="6">

				</textarea>
    </div>
  </div>
  <br/>
  <div class="col-xl-8" style="text-align: center; ">
    <figure>
      <img src="preuve.jpg" alt="Preuve" />
    </figure>
  </div>
</div>

<div class="card-header" style="text-align: center; margin-left:15%;margin-right:15%;">
  <h5>Si vous avez rencontré un soucis durant votre trajet, merci de prendre contact avec notre service SAV.</h5> <br/>
  <button class="btn-lg btn-secondary" >Envoyer</button>
</div>
