<body>

<div class="img-trait-bleu container-fluid">

<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Liste des tarifs</h2>
    </div>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Type de transport</th>
        <th>Compagnie</th>
        <th>Tarif/minute</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let taille of arrayOne(result.length)">
        <td *ngFor="let ele of result[taille]">{{ele}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
</body>
