.img-trait-bleu {
  background-image: url('../../../assets/fond_page_trait_bleu.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}
