<body>

<div class="img-trait-bleu container-fluid">
<br/>
<div class="container">
  <div class="divBorder card">
    <div class=" divBg card-header">
      <h2 style="font-size: 60px" >Tarifs</h2>
    </div>

    <table style="text-align: center" class="table">
      <thead style="font-size: 35px" class="thead-light">
      <tr >
        <th>Type de transport</th>
        <th>Compagnie</th>
        <th>Tarif/minute (€)</th>
      </tr>
      </thead>
      <tbody>

      <tr style="font-size: 25px" *ngFor="let taille of arrayOne(result.length)">
        <td *ngFor="let ele of result[taille]">{{ele}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</div>

</body>
