<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Liste des tarifs</h4>
    </div>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Type de transport</th>
        <th>Compagnie</th>
        <th>Tarif/minute</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let moyenDeTransport of list()">


        <td *ngIf="moyenDeTransport.prixMinute; else elseBlock">{{moyenDeTransport.typeDeTransport}}</td>
        <ng-template #elseBlock><td></td></ng-template>


        <td *ngIf="moyenDeTransport.prixMinute && moyenDeTransport.fournisseur != null; else elseBlock">{{moyenDeTransport.fournisseur.nom}}</td>
        <ng-template #elseBlock><td></td></ng-template>


        <td *ngIf="moyenDeTransport.prixMinute; else elseBlock">{{moyenDeTransport.prixMinute}}€</td>
        <ng-template #elseBlock></ng-template>

      </tr>
      </tbody>
    </table>
  </div>
</div>
