<div style="margin-bottom: 80px;">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="['/accueil']" >Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a [routerLink]="['/seDeplacer']" class="nav-link" >Se déplacer
          <span class="sr-only"></span>
        </a></li>
        <li class="nav-item active"><a [routerLink]="['/tarifs']" class="nav-link" >Tarifs
          <span class="sr-only"></span>
        </a></li>
<!--        <li class="nav-item active"><a [routerLink]="['/stagiaire']" class="nav-link" >Plan-->
<!--          du réseau <span class="sr-only"></span>-->
<!--        </a></li>-->
        <li class="nav-item active"><a [routerLink]="['/partenaires']" class="nav-link" >Partenaires
          <span class="sr-only"></span>
        </a></li>
        <li class="nav-item active"><a [routerLink]="['/contact']" class="nav-link" >Contact<span
          class="sr-only"></span></a></li>
        <li class="nav-item active"><a [routerLink]="['/plan']" class="nav-link" >Plan du réseau<span
          class="sr-only"></span></a></li>



      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="getUser()=='monId'; else connecte" class="btn btn-outline-info my-2 my-sm-0" type="submit" [routerLink]="['/logIn']">Se
          connecter</button>
        <ng-template #connecte>
          <button class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/logIn']">Mon compte</button>
        </ng-template>
      </form>
    </div>
  </nav>
</div>

<p *ngIf="getUser()!='monId'"  style="text-align: center;font-weight: bold" >Bonjour {{getUser()}}</p>

<div class="container-fluid">

  <router-outlet></router-outlet>

</div>
<br>
<br>
<br>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">

<!--
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
-->
  <div class="container text-center">
    <small>Copyright &copy; Scootilo</small>
  </div>
</footer>
