<!--style="margin-bottom: 80px;"-->
<div>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="height: 80px;">
<li style="margin-left: -20px;">
    <a class="navbar-brand" [routerLink]="['/accueil']" ><img src="../../../assets/LOGO_scootilo.png" alt="logo" width="180px" height="90"></a>
</li>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto container" style="font-size: 20px;">
        <li class="nav-item active">
          <a [routerLink]="['/seDeplacer']" class="nav-link" style="font-size: 20px">Se déplacer
          <span class="sr-only"></span> </a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/tarifs']" class="nav-link" style="font-size: 20px">Tarifs
          <span class="sr-only"></span>  </a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/partenaires']" class="nav-link" style="font-size: 20px">Partenaires
          <span class="sr-only"></span> </a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/contact']" class="nav-link" style="font-size: 20px">Contact<span
          class="sr-only"></span></a>
        </li>
        <li class="nav-item active"><a [routerLink]="['/plan']" class="nav-link" style="font-size: 20px">Plan du réseau<span
          class="sr-only"></span></a>
        </li>
        <li class="nav-item active" *ngIf="sessionService.getType()=='supplier'">
          <a [routerLink]="['/compteFournisseur/tableauDeBord']" class="nav-link" style="font-size: 20px">Tableau de Bord<span
            class="sr-only"></span></a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0" >
        <button *ngIf="!sessionService.getIdentifiant(); else connecte" class="btn btn-outline-info my-2 my-sm-0" type="submit" [routerLink]="['/logIn']"  style="font-size: 20px;font-weight: bold">Se connecter</button>
        <ng-template #connecte>
          <button *ngIf="sessionService.getType()=='admin'" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/compteAdministrateur']"  style="font-size: 20px;font-weight: bold">Mon compte</button>
          <button *ngIf="sessionService.getType()=='customer'" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/compteClient']"  style="font-size: 20px;font-weight: bold">Mon compte</button>
          <button *ngIf="sessionService.getType()=='supplier'" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/compteFournisseur']"  style="font-size: 20px;font-weight: bold">Mon compte</button>
          <button *ngIf="sessionService" class="btn btn-outline-info my-2 my-sm-0" (click)="sessionService.offUtilisateur()"  style="font-size: 20px;font-weight: bold; margin-left: 5px;">Se deconnecter</button>
        </ng-template>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="this.router.url==='/' || this.router.url==='/accueil'; else lesAutresComposants">
  <router-outlet></router-outlet>
</div>

<ng-template #lesAutresComposants >
  <div style="margin-top: 80px;">
    <router-outlet></router-outlet>
  </div>
</ng-template>


<br>
<br>
<br>


<footer id="sticky-footer" class="py-4 text-white-50 fixed-bottom" style="background: rgba(247, 247, 247, 0.7);">
  <div class="container text-center">
    <small style="color: black; font-size: 15px;"><b>Copyright &copy; Scootilo</b></small>
  </div>
</footer>
